code_backup/
cufflinks_test/
fastq/
fastq_trimmed/
kallisto_out_merged_parents_stranded_boot/
kallisto_out_merged_stranded_boot/
miseq_05/
old_kallisto_output/
plots/
qseq/
RData/
RData_old/
star_out/
star_out_parents/
reference/STAR/
reference/Saccharomyces_cerevisiae_UCSC_sacCer3/
*.idx.*
*.idx

